@import '../common/pager.less';

.info-list-container {
	padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
	& > .title {
    font-size: 1.5rem;
    margin: 10px 0 15px;
  }
  .controls {
  	.right-control {
  		display: inline-block;
  		float: right;
  		.search-inp {
				padding: 5px 4px 3px 4px;
		    width: 240px;
		    border-radius: 5px;
		    border: 1px solid #999;
		    box-sizing: border-box;
		    font-size: 15px;
  		}
			.search {
		    margin-left: 15px;
		    line-height: 29px;
		    background: @btn1;
		    &:focus {
		    	outline: none;
		    }
			}
  	}
  	.left-control {
  		display: inline-block;
  		.drop {
  			max-width: 90px;
  			position: relative;
  			text-align: center;
				font-size: 15px;
				margin-right: 15px;
				padding: 3px 10px;
		    background: @btn1;
				.border-pointer {
					vertical-align: -2px;
					transition: all 0.2s ease-in-out;
			    transform-origin: center 25%;
			    border-top-color: #eee;
					&.rotated {
						transform: rotateZ(180deg);
					}
				}
				.selection {
					position: absolute;
			    width: 100%;
				  border-radius: 4px;
				  background: @btn1;
				  margin-top: 3px;
				  left: 0;
				  overflow: hidden;
			  	transition: all 0.2s ease-in-out;
			  	&.item {
				  	height: 66px;
			  	}
			  	&.type {
			  		height: 44px;
			  	}
				  &.item-enter-active, &.item-leave {
						height: 66px;
				  }
				  &.type-enter-active, &.type-leave {
				  	height: 44px;
				  }
				  &.item-enter, &.item-leave-active, &.type-enter, &.type-leave-active {
						height: 0;
				  }
				  .option {
				  	padding: 2px 0;
				  	border-top: 1px solid #fff;
				  	font-size: 13px;
				  	transition: all 0.3s ease-in-out;
				  	&:hover {
				  		background: lighten(@btn1, 20%);
				  	}
				  }
				}
  		}
  		.tips {
		    color: #999;
		    font-size: 13px;
  		}
  		.delete-all {
  			line-height: 29px;
		    background: @btn1;
  		}
  	}
  }
  .bottom-controls {
  	.right-control {
  		max-width: 92%;
  	}
  }
  .info-list-ul {
  	list-style: none;
    padding: 0;
    margin: 10px 0;
    .title-list {
			border-radius: 3px;
			color: #fff;
			background: @leftBg;
			span {
				display: inline-block;
				line-height: 30px;
		    box-sizing: border-box;
		    text-align: center;
		  }
    }
    .info-list {
	    padding: 5px 0;
	    border-bottom: 1px solid #ccc;
	    &:hover {
	    	background: #eee;
	    	cursor: pointer;
	    }
	    &.checked {
	    	background: #eee;
	    }
			span {
				display: inline-block;
				line-height: 30px;
		    box-sizing: border-box;
		    text-align: center;
		    overflow: hidden;
		    .avatar-img {
    	    width: 50px;
			    height: 50px;
			    vertical-align: middle;
			    border-radius: 50%;
		    }
		  }
    }
    .avatar, .checkbox, .age, .sex {
    	width: 3%;
    }
    .entry {
    	width: 9%;
    }
    .code, .title, .control {
    	width: 7%;
    }
    .major, .mobile {
    	width: 10%;
    }
   	.id-code {
			width: 12%;
    }
    .address {
			width: 15%;
    }
    .name {
    	width: 7%;
    }
  }
}


