/**
 * 应用入口样式
 */
@import 'animate.min.css';
@import 'normalizeV3.0.2.css';
@import '../dep/layer/skin/default/layer.css';
@font-face {
  font-family: 'FontAwesome';
  src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../dep/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../dep/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../dep/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../dep/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.border-pointer {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: #666;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
}
.drop {
  position: relative;
  text-align: center;
  font-size: 15px;
  margin-right: 15px;
  padding: 3px 10px;
  background: #4fbfaa;
}
.drop .selected {
  user-select: none;
}
.drop .border-pointer {
  vertical-align: -2px;
  transition: all 0.2s ease-in-out;
  transform-origin: center 25%;
  border-top-color: #eee;
}
.drop .border-pointer.rotated {
  transform: rotateZ(180deg);
}
.drop .selection {
  position: absolute;
  width: 100%;
  border-radius: 4px;
  background: #4fbfaa;
  margin-top: 3px;
  left: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform-origin: top;
  z-index: 100;
}
.drop .selection.item-enter-active,
.drop .selection.item-leave {
  transform: scaleY(1);
}
.drop .selection.item-enter,
.drop .selection.item-leave-active {
  transform: scaleY(0);
}
.drop .selection .option {
  padding: 2px 0;
  border-top: 1px solid #fff;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.drop .selection .option:hover {
  background: #9adace;
}
header {
  background: #37afea;
  height: 60px;
  color: #fff;
  padding: 0px 10px;
  font-size: 14px;
}
header .top-title {
  margin: 0;
  font-size: 17px;
  display: inline-block;
  margin-right: 30px;
  height: 100%;
  line-height: 57px;
  float: left;
}
header .nav {
  display: inline-block;
  height: 100%;
}
header .nav .item {
  display: inline-block;
  line-height: 60px;
  padding: 0 20px;
  height: 100%;
  transition: background 0.3s ease;
}
header .nav .item.active {
  background: #329bd8;
}
header .nav .item a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: 85px;
  position: relative;
}
header .nav .item a.home {
  vertical-align: 1px;
  line-height: 83px;
}
header .nav .item a.home:before {
  content: '\f015';
}
header .nav .item a.info:before {
  content: '\f07c';
}
header .nav .item a.course:before {
  content: '\f073';
}
header .nav .item a.train:before {
  content: '\f0c0';
}
header .nav .item a.work:before {
  content: '\f0b1';
  top: 10px;
}
header .nav .item a.assessment:before {
  content: '\f080';
}
header .nav .item a.comment:before {
  content: '\f086';
}
header .nav .item a.user:before {
  content: '\f2be';
}
header .nav .item a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 8px;
  line-height: 20px;
  left: 50%;
  transform: translateX(-50%);
}
header .user-info {
  display: inline-block;
  height: 100%;
  float: right;
  width: 200px;
}
header .user-info .top-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .user-info .info {
  display: inline-block;
}
header .user-info .info p {
  margin: 5px;
}
header .user-info .info p.greeting {
  margin-bottom: -1px;
  margin-top: 10px;
}
.left-nav {
  background: #344152;
  display: inline-block;
  width: 176px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  float: left;
}
.left-nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.left-nav ul .left-item {
  font-size: 15px;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
.left-nav ul .left-item .left-btn {
  display: block;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.left-nav ul .left-item .left-btn.active {
  background: #0a0a0a;
}
.main-container {
  height: 100%;
  display: block;
  margin-left: 176px;
  box-sizing: border-box;
  padding: 15px;
  background: #f3f3f3;
}
.teacher-list-container {
  height: 100%;
}
.teacher-detail-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
  position: relative;
}
.teacher-detail-container .download {
  position: absolute;
  right: 15px;
  top: 25px;
  line-height: 30px;
  background: #4fbfaa;
}
.teacher-detail-container > .title {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
.teacher-detail-container .detail-table {
  border-collapse: collapse;
  width: 85%;
  height: 82%;
  margin-top: 10px;
}
.teacher-detail-container .detail-table caption {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.teacher-detail-container .detail-table .avatar {
  max-width: 100%;
  max-height: 100%;
}
.teacher-detail-container .detail-table tr.first-row {
  height: 0;
}
.teacher-detail-container .detail-table tr.first-row > td {
  border: none;
}
.teacher-detail-container .detail-table td {
  width: 130px;
  border: 1px solid black;
  text-align: center;
  padding: 10px 0;
}
.teacher-detail-container .detail-table td.title-td {
  font-weight: bold;
}
.teacher-detail-container .detail-table td.avatar-td {
  height: 190px;
}
.teacher-detail-container .detail-table td.mock {
  color: #da2;
}
.teacher-detail-container .detail-table td.info {
  color: #666;
}
.insert-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
}
.insert-container .title {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
.insert-container .tab-container {
  margin: 15px 0 30px;
  overflow: hidden;
}
.insert-container .tab-container button {
  background: #33a8ed;
  border: none;
  padding: 8px 0 8px 10px;
  width: 32.3%;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
  margin-right: 1%;
  float: left;
}
.insert-container .tab-container button:focus {
  outline: none;
}
.insert-container .tab-container button.disabled {
  background: #ccc;
}
.insert-container .form-container {
  width: 100%;
  height: 77%;
  overflow: scroll;
}
.insert-container .form-container .info-basic,
.insert-container .form-container .info-personal,
.insert-container .form-container .info-experience {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.insert-container .form-container .info-experience {
  width: 45%;
}
.insert-container .form-container .info-experience .exp-transition-enter-active,
.insert-container .form-container .info-experience .exp-transition-leave-active {
  transition: all 0.4s;
}
.insert-container .form-container .info-experience .exp-transition-enter,
.insert-container .form-container .info-experience .exp-transition-leave-active {
  opacity: 0;
  transform: translateY(20px);
}
.insert-container .form-container .info-experience .exp-container {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.insert-container .form-container .info-experience .exp-container .exp-title {
  text-align: center;
  color: #777;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin: 5px 0 15px;
}
.insert-container .form-container .info-experience .exp-container .exp-content {
  margin: 10px 0;
}
.insert-container .form-container .info-experience .exp-container .exp-content .exp-inp {
  margin-left: 15px;
  width: 33%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 4px 3px 4px;
}
.insert-container .form-container .info-experience .exp-container .exp-content .exp-inp[name*="Start"] {
  margin-right: 5px;
}
.insert-container .form-container .info-experience .exp-container .exp-content .exp-inp[name*="End"] {
  margin-left: 5px;
}
.insert-container .form-container .info-experience .exp-container .exp-content .exp-info-title-descp {
  vertical-align: top;
}
.insert-container .form-container .info-experience .exp-container .exp-content textarea {
  resize: none;
  padding: 5px 4px 3px 4px;
  width: 82.1%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 15px;
  line-height: 1.5rem;
}
.insert-container .form-container .info-container {
  width: 85%;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.insert-container .form-container .info-container .info-name {
  display: inline-block;
  width: 15%;
  text-align: right;
  margin-right: -2px;
}
.insert-container .form-container .info-container .info-name.self-desc {
  vertical-align: top;
}
.insert-container .form-container .info-container .info-name.avatar-span {
  vertical-align: top;
}
.insert-container .form-container .info-container .require-icon {
  color: red;
  font-style: normal;
  position: absolute;
  top: 5px;
}
.insert-container .form-container .info-container textarea {
  resize: none;
}
.insert-container .form-container .info-container .content-container {
  display: inline-block;
  margin-left: 15px;
  width: 80%;
  vertical-align: middle;
}
.insert-container .form-container .info-container .content-container .info-inp {
  padding: 5px 4px 3px 4px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.insert-container .form-container .info-container .content-container .info-inp[type=date] {
  width: 50%;
}
.insert-container .form-container .info-container .content-container #avatar {
  display: none;
}
.insert-container .form-container .info-container .content-container .avatar {
  width: 100px;
  height: 80px;
  vertical-align: middle;
  float: right;
  border-radius: 5px;
}
.insert-container .form-container .info-container .content-container .tip {
  font-size: 12px;
  color: #999;
}
.insert-container .form-container .info-container .content-container .salary-icon {
  position: absolute;
  top: 5px;
  margin-left: 4px;
}
.insert-container .form-container .info-container .content-container input[type=number] {
  width: 50%;
}
.insert-container .form-container .info-container .content-container input[type=number][name=salary] {
  padding-left: 20px;
}
.insert-container .form-container .btn1 {
  cursor: pointer;
  padding: 5px 10px;
  background: #4fbfaa;
  border-radius: 5px;
  color: #fff;
  border: none;
  float: right;
}
.insert-container .form-container .btn1.upload {
  float: left;
}
.insert-container .form-container .btn2 {
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 5px 15px;
  border: none;
  background: #33a8ed;
  border-radius: 5px;
  color: #fff;
  float: right;
}
.insert-container .form-container .btn2:focus {
  outline: none;
}
.pager-container .page-control {
  display: inline-block;
  overflow: hidden;
}
.pager-container .page-control div {
  display: inline-block;
  float: left;
  border: 1px solid #33a8ed;
  color: #33a8ed;
  transition: all 0.4s ease;
  user-select: none;
}
.pager-container .page-control div:hover,
.pager-container .page-control div.active {
  background: #33a8ed;
  color: #fff;
}
.pager-container .page-control div.prev,
.pager-container .page-control div.next {
  padding: 3px 10px;
  cursor: pointer;
}
.pager-container .page-control div.prev {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
}
.pager-container .page-control div.next {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.pager-container .page-control div.page {
  cursor: pointer;
  padding: 3px 10px;
  border-right: none;
}
.pager-container .page-control div.disabled {
  background: #eee;
  color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}
.pager-container .leap-control {
  margin-left: 15px;
  display: inline-block;
  overflow: hidden;
}
.pager-container .leap-control .page-inp {
  width: 30px;
  margin: 0 5px;
  padding: 2px 5px;
  font-size: 14px;
}
.pager-container .leap-control .leap {
  padding: 3px 10px;
  background: #33a8ed;
}
.info-list-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
}
.info-list-container > .title {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
.info-list-container .controls .right-control {
  display: inline-block;
  float: right;
}
.info-list-container .controls .right-control .search-inp {
  padding: 5px 4px 3px 4px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 15px;
}
.info-list-container .controls .right-control .search {
  margin-left: 15px;
  line-height: 29px;
  background: #4fbfaa;
}
.info-list-container .controls .right-control .search:focus {
  outline: none;
}
.info-list-container .controls .left-control {
  display: inline-block;
}
.info-list-container .controls .left-control .tips {
  color: #999;
  font-size: 13px;
}
.info-list-container .controls .left-control .delete-all,
.info-list-container .controls .left-control .check-all {
  line-height: 29px;
  background: #4fbfaa;
  margin-right: 15px;
}
.info-list-container .controls .left-control .delete-all:focus,
.info-list-container .controls .left-control .check-all:focus {
  outline: none;
}
.info-list-container .bottom-controls .right-control {
  max-width: 92%;
}
.info-list-container .info-list-ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.info-list-container .info-list-ul .title-list {
  border-radius: 3px;
  color: #fff;
  background: #344152;
}
.info-list-container .info-list-ul .title-list span {
  display: inline-block;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
}
.info-list-container .info-list-ul .info-list {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
.info-list-container .info-list-ul .info-list:hover {
  background: #eee;
  cursor: pointer;
}
.info-list-container .info-list-ul .info-list.checked {
  background: #eee;
}
.info-list-container .info-list-ul .info-list span {
  display: inline-block;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.info-list-container .info-list-ul .info-list span .img-wrap {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}
.info-list-container .info-list-ul .avatar,
.info-list-container .info-list-ul .checkbox,
.info-list-container .info-list-ul .age,
.info-list-container .info-list-ul .sex {
  width: 3%;
}
.info-list-container .info-list-ul .entry {
  width: 9%;
}
.info-list-container .info-list-ul .code,
.info-list-container .info-list-ul .title,
.info-list-container .info-list-ul .control {
  width: 7%;
}
.info-list-container .info-list-ul .major,
.info-list-container .info-list-ul .mobile {
  width: 10%;
}
.info-list-container .info-list-ul .id-code {
  width: 12%;
}
.info-list-container .info-list-ul .address {
  width: 15%;
}
.info-list-container .info-list-ul .name {
  width: 7%;
}
.class-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
  position: relative;
}
.class-container > .title {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
.class-container .class-table-container table {
  margin: 20px auto;
  width: 60%;
  text-align: center;
}
.class-container .class-table-container table caption {
  margin: 15px;
  font-size: 25px;
  color: #999;
}
.class-container .class-table-container table td {
  border: 1px solid #ccc;
  line-height: 35px;
  transition: all 0.3s ease;
}
.class-container .class-table-container table td:hover {
  background: #c1e6f9;
}
.class-container .class-table-container table td.title {
  background: #37afea;
  color: #fff;
}
.insert-course-container {
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px #333;
  position: relative;
}
.insert-course-container > .title {
  font-size: 1.5rem;
  margin: 10px 0 15px;
}
.insert-course-container .form-container {
  width: 50%;
  height: 75%;
  overflow-y: scroll;
  margin: 20px auto;
  position: relative;
}
.insert-course-container .form-container .info {
  text-align: center;
  font-size: 20px;
  color: #999;
}
.insert-course-container .form-container .class-2 {
  opacity: 1;
  transform: translateY(0);
}
.insert-course-container .form-container .class-enter,
.insert-course-container .form-container .class-leave-active {
  opacity: 0;
  transform: translateY(20px);
}
.insert-course-container .form-container .class-enter-active,
.insert-course-container .form-container .class-leave-active {
  transition: all 0.3s ease;
}
.insert-course-container .form-container .class-time-container {
  position: relative;
  z-index: 2;
}
.insert-course-container .form-container .info-container {
  width: 85%;
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.insert-course-container .form-container .info-container .info-name {
  display: inline-block;
  width: 15%;
  text-align: right;
  margin-right: -2px;
}
.insert-course-container .form-container .info-container .info-name.self-desc {
  vertical-align: top;
}
.insert-course-container .form-container .info-container .info-name.avatar-span {
  vertical-align: top;
}
.insert-course-container .form-container .info-container .require-icon {
  color: red;
  font-style: normal;
  position: absolute;
  top: 5px;
}
.insert-course-container .form-container .info-container textarea {
  resize: none;
}
.insert-course-container .form-container .info-container .content-container {
  display: inline-block;
  margin-left: 15px;
  width: 80%;
  vertical-align: middle;
}
.insert-course-container .form-container .info-container .content-container.pick-time {
  width: 30%;
}
.insert-course-container .form-container .info-container .content-container .info-inp {
  padding: 5px 4px 3px 4px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.insert-course-container .form-container .info-container .content-container .info-inp[type=date] {
  width: 50%;
}
.insert-course-container .form-container .info-container .content-container #avatar {
  display: none;
}
.insert-course-container .form-container .info-container .content-container .avatar {
  width: 100px;
  height: 80px;
  vertical-align: middle;
  float: right;
  border-radius: 5px;
}
.insert-course-container .form-container .info-container .content-container .tip {
  font-size: 12px;
  color: #999;
}
.insert-course-container .form-container .info-container .content-container .salary-icon {
  position: absolute;
  top: 5px;
  margin-left: 4px;
}
.insert-course-container .form-container .info-container .content-container input[type=number] {
  width: 50%;
}
.insert-course-container .form-container .info-container .content-container input[type=number][name=salary] {
  padding-left: 20px;
}
.insert-course-container .form-container .btn-container {
  position: relative;
  height: 90px;
}
.insert-course-container .form-container .btn-container .btn1 {
  cursor: pointer;
  padding: 5px 10px;
  background: #4fbfaa;
  border-radius: 5px;
  color: #fff;
  border: none;
  float: right;
  margin-right: 15px;
}
.insert-course-container .form-container .btn-container .btn2 {
  padding: 5px 15px;
  border: none;
  background: #33a8ed;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.insert-course-container .form-container .btn-container .btn2:focus {
  outline: none;
}
