@import 'animate.min.css';
@import 'normalizeV3.0.2.css';
@import '../dep/layer/skin/default/layer.css';
@font-face {
  font-family: 'FontAwesome';
  src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../dep/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../dep/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../dep/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../dep/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.border-pointer {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: #666;
}
.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0 15px;
  cursor: pointer;
  display: inline-block;
}
.drop {
  position: relative;
  text-align: center;
  font-size: 15px;
  margin-right: 15px;
  padding: 3px 10px;
  background: #4fbfaa;
}
.drop .selected {
  user-select: none;
}
.drop .border-pointer {
  vertical-align: -2px;
  transition: all 0.2s ease-in-out;
  transform-origin: center 25%;
  border-top-color: #eee;
}
.drop .border-pointer.rotated {
  transform: rotateZ(180deg);
}
.drop .selection {
  position: absolute;
  width: 100%;
  border-radius: 4px;
  background: #4fbfaa;
  margin-top: 3px;
  left: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform-origin: top;
  z-index: 100;
}
.drop .selection.item-enter-active,
.drop .selection.item-leave {
  transform: scaleY(1);
}
.drop .selection.item-enter,
.drop .selection.item-leave-active {
  transform: scaleY(0);
}
.drop .selection .option {
  padding: 2px 5px;
  border-top: 1px solid #fff;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.drop .selection .option:hover {
  background: #9adace;
}
.pager-container .page-control {
  display: inline-block;
  overflow: hidden;
}
.pager-container .page-control div {
  display: inline-block;
  float: left;
  border: 1px solid #33a8ed;
  color: #33a8ed;
  transition: all 0.4s ease;
  user-select: none;
}
.pager-container .page-control div:hover,
.pager-container .page-control div.active {
  background: #33a8ed;
  color: #fff;
}
.pager-container .page-control div.prev,
.pager-container .page-control div.next {
  padding: 3px 10px;
  cursor: pointer;
}
.pager-container .page-control div.prev {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
}
.pager-container .page-control div.next {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.pager-container .page-control div.page {
  cursor: pointer;
  padding: 3px 10px;
  border-right: none;
}
.pager-container .page-control div.disabled {
  background: #eee;
  color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}
.pager-container .leap-control {
  margin-left: 15px;
  display: inline-block;
  overflow: hidden;
}
.pager-container .leap-control .page-inp {
  width: 30px;
  margin: 0 5px;
  padding: 2px 5px;
  font-size: 14px;
}
.pager-container .leap-control .leap {
  padding: 3px 10px;
  background: #33a8ed;
}
body #wrap {
  overflow: hidden;
  position: relative;
}
body #bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
body .avatar-upload {
  display: none;
}
body .login,
body .register {
  width: 350px;
  text-align: center;
  opacity: 0;
  padding: 0 0 55px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}
body .login.register,
body .register.register {
  margin-top: 50px;
  overflow-y: scroll;
  max-height: 85%;
}
body .login.login,
body .register.login {
  margin-top: 130px;
}
body .login .avatar-container,
body .register .avatar-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -15px;
  position: relative;
}
body .login .avatar-container .avatar,
body .register .avatar-container .avatar {
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
}
body .login .avatar-container .click-avatar,
body .register .avatar-container .click-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
body .login.active,
body .register.active {
  opacity: 1;
  z-index: 2;
}
body .login h1,
body .register h1 {
  color: #e0e0e0;
  text-shadow: 2px 2px 3px #aaa;
  margin-bottom: 45px;
}
body .login form[name="login"],
body .register form[name="login"],
body .login form[name="register"],
body .register form[name="register"] {
  margin-top: 45px;
}
body .login form[name="login"] #submit,
body .register form[name="login"] #submit,
body .login form[name="register"] #submit,
body .register form[name="register"] #submit {
  display: block;
  width: 275px;
  height: 45px;
  line-height: 45px;
  border-radius: 35px;
  border: 1px solid #fff;
  padding: 0 20px;
  box-sizing: content-box;
  margin: 0 auto;
  letter-spacing: 6px;
  background: rgba(255, 255, 255, 0.5);
  color: #1390da;
  transition: all 0.5s ease;
}
body .login form[name="login"] #submit:focus,
body .register form[name="login"] #submit:focus,
body .login form[name="register"] #submit:focus,
body .register form[name="register"] #submit:focus {
  outline: none;
  box-shadow: none;
}
body .login form[name="login"] #submit:hover,
body .register form[name="login"] #submit:hover,
body .login form[name="register"] #submit:hover,
body .register form[name="register"] #submit:hover {
  background: transparent;
  color: #e0e0e0;
}
body .login p,
body .register p {
  color: #e0e0e0;
  text-shadow: 2px 2px 3px #aaa;
}
body .login p.form-p,
body .register p.form-p {
  margin-bottom: 45px;
}
body .login p.hrefs,
body .register p.hrefs {
  margin: 30px;
}
body .login p.hrefs a,
body .register p.hrefs a {
  color: #e0e0e0;
  font-size: 13px;
  margin-right: 20px;
}
body .login p.hrefs a#goLogin,
body .register p.hrefs a#goLogin {
  margin-right: 5px;
}
body .login p .form-label,
body .register p .form-label {
  padding: 15px;
  border-radius: 35px;
  height: 45px;
  line-height: 45px;
  transition: all 0.5s ease;
  box-shadow: none;
  border: 1px solid #cccccc;
  color: #cccccc;
}
body .login p .form-label .form-span,
body .register p .form-label .form-span {
  display: inline-block;
  width: 90px;
  text-align: left;
}
body .login p .form-label input,
body .register p .form-label input {
  border: none;
  background: transparent;
  padding-left: 10px;
  color: #f0f0f0;
}
body .login p .form-label input:focus,
body .register p .form-label input:focus {
  outline: none;
}
body footer {
  text-align: center;
  width: 100%;
  color: #e0e0e0;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  background: transparent;
}
