<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录/注册页</title>
    <link rel="stylesheet" type="text/css" href="./FE/style/login.css">
    <script type="text/javascript" data-main="./FE/js/app.js" async src="./node_modules/requirejs/require.js"></script>
</head>
<body>
    <canvas id="bg">你的浏览器不支持canvas!</canvas>
    <div class="login active">
        <h1>LOGIN</h1>
        <p>师资信息管理系统</p>
        <form action="index.php/login" method="post" name="login" accept-charset="utf-8">
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">手机(邮箱)</span>/
                    <input type="text" name="user" maxlength=15 autocomplete="off">
                </label>
            </p>
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">密码</span>/
                    <input type="password" name="pw">
                </label>
            </p>
            <button id="submit" type="submit">登录</button>
        </form>
        <p class="hrefs">
            <a href="javascript:;" id="forget">忘记密码</a>
            <a href="javascript:;" id="register">注册</a>
        </p>
    </div>
    <div class="register hide">
        <h1>REGISTER</h1>
        <p>师资信息管理系统</p>
        <form action="index.php/register" method="post" name="register" accept-charset="UTF-8">
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">手机号</span>/
                    <input type="text" name="mobile" maxlength=11 autocomplete="off">
                </label>
            </p>
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">姓名</span>/
                    <input type="text" name="name" maxlength=15 autocomplete="off">
                </label>
            </p>
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">密码</span>/
                    <input type="password" name="pw">
                </label>
            </p>
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">确认密码</span>/
                    <input type="password" name="confirm-pw">
                </label>
            </p>
            <p class="form-p">
                <label class="form-label">
                    <span class="form-span">邮箱</span>/
                    <input type="text" name="email">
                </label>
            </p>
            <button id="submit" type="submit">注册</button>
        </form>
        <p class="hrefs">
            <a href="javascript:;" id="login">登陆</a>
        </p>
    </div>
    <footer>whyCoder&nbsp;&copy;版权所有</footer>
</body>
</html>