@import './animate.min.css';
@import './normalizeV3.0.2.css';
@import '../dep/layer/skin/default/layer.css';
// fontAwesome字体
@font-face {
    font-family: 'FontAwesome';
    src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../dep/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
         url('../dep/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
         url('../dep/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
         url('../dep/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
         url('../dep/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// 顶导航
@mainBtn:#fff;
@mainBtnBg:rgb(55, 175, 234);
@mainBtnActive:#fff;
@mainBtnActiveBg:#329bd8;
// 左导航
@leftBg:rgb(52, 65, 82);
@leftBtnActiveBg:rgb(10, 10, 10);
// 详情顶导航
@detailBtnBg:rgb(192, 203, 203);
// 按钮
@btn1:rgb(79, 191, 170);
@btn2:rgb(51, 168, 237);
// 超链接
@href:rgb(126, 195, 237);
@delete:rgb(244, 151, 150);

.show {
    display: block;
}
.hide {
    display: none;
}
.border-pointer {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid rgba(255, 255, 255, 0);
    border-top-color: #666;
}
.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    display: inline-block;
}
// 下拉菜单
.drop {
    max-width: 90px;
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-right: 15px;
    padding: 3px 10px;
    background: @btn1;
    .selected {
        user-select: none;
    }
    .border-pointer {
        vertical-align: -2px;
        transition: all 0.2s ease-in-out;
        transform-origin: center 25%;
        border-top-color: #eee;
        &.rotated {
            transform: rotateZ(180deg);
        }
    }
    .selection {
        position: absolute;
        width: 100%;
        border-radius: 4px;
        background: @btn1;
        margin-top: 3px;
        left: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        transform-origin: top;
        &.item-enter-active, &.item-leave {
            transform: scaleY(1);
        }
        &.item-enter, &.item-leave-active {
            transform: scaleY(0);
        }
        .option {
            padding: 2px 0;
            border-top: 1px solid #fff;
            font-size: 13px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: lighten(@btn1, 20%);
            }
        }
    }
}


