.comment-container {
  display: block;
  box-sizing: border-box;
  padding: 15px;
	width: 65%;
	height: 95%;
	background: #F5F5DC;
	margin: 0px auto;
	position: relative;
	border-radius: 10px;
	&:after, &:before {
    content: '';
    display: block;
    position: absolute;
    width: 84%;
    height: 92%;
    left: 8%;
    top: 4%;
    z-index: -2;
	}
	&:after {
    transform: skew(-15deg) rotate(-3deg);
    box-shadow: 2px 20px 60px #333;
	}
	&:before {
		transform: skew(15deg) rotate(3deg);
    box-shadow: 0px 20px 60px #333;
	}
  .title {
  	text-align: center;
  	color: transparent;
  	-webkit-text-stroke: 1px @leftBg;
    letter-spacing: 30px;
    font-size: 60px;
    margin: 10px 0;
    background: linear-gradient(45deg, #7FFFD4 35%, #CD853F, 75%, #ccc);
    -webkit-background-clip: text;
  }

}
